{% block content %}
    <h3 style="text-align: center">Пассивные клиенты</h3>
    <h3>Дата и время печати - {{ date('now')|date('d.m.Y H:i:s') }}</h3>
    <h3>Общее количество: {{countAll}}</h3>
    <table border="1">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>ИНН</th>
                <th>Сот.тел.</th>
                <th>Cтатус</th>
                <th>Документ</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity }}</td>
                    <td>{{ entity.inn }}</td>
                    <td>{{ entity.phone }}<br/>{{ entity.cellphone }}</td>
                    <td>{{ entity.referenceClientStatus }}</td>
                    <td>
                        {% if entity.identityCard != '' %}
                            {{ entity.identityCard }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}